<!--<div class="introtext">
    <h1>Intro text</h1>
    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
</div>
<div>
    <button (click)="navpage()">Apply For Trainer</button>
</div>
-->
<!--MY CODE-->
<div class="main">
    <div class="jumbotron">
        <h2>Fitness Tracker</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, illum cumque laboriosam exercitationem saepe, quod velit quam molestias dolorem sunt id facilis repudiandae modi soluta perferendis voluptatibus aliquam autem numquam.</p>
        <p>Scroll down the page to see the result.</p>
        <br/>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <br/>
    <br/>
        <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/place-fitness-trainer-appointment">Block level button</button>  
    </div>
    
    </div>
    